---
layout: base.pug
---
-
    // console.log(collections.offers)
    let offers = collections.offers

table.table-auto
    thead
        tr
            td(class="p-3") date de publication
            td(class="p-3") intitulé de fiche de poste 
            td(class="p-3") lien
    tbody
        each offer in collections.offers
            tr
                td(class="p-3")= offer['publication_date']
                td(class="p-3")
                    div(class="font-semibold")= offer['title']
                    div(class="text-gray-500")= (offer['organization'] || offer['department']).substr(0, 100)
                td(class="p-3")
                    a(href=offer['url']) place de l'emploi public
                    

hr

ul
    li
        a(href="https://github.com/taniki/data-jobs-publicservice") code source
    li
        a(href="https://www.data.gouv.fr/fr/datasets/fiche-de-poste-exploitation-de-donnees-place-de-lemploi-public/") données
        
hr

h2 ressources utiles

ul
    li
        a(href="https://doc.incubateur.net/communaute/travailler-a-beta-gouv/recrutement/guide-pour-les-candidat-e-s") Guide pour les candidat(e)s (beta.gouv.fr)