---
---
-
    // console.log(collections.offers)
    let offers = collections.offers

table
    tbody
        each offer in collections.offers
            tr
                td= offer['publication_date']
                td= offer['title']
                td
                    a(href=offer['url']) place de l'emploi public
                    

hr

ul
    li
        a(href="https://github.com/taniki/data-jobs-publicservice") code source
    li
        a(href="https://www.data.gouv.fr/fr/datasets/fiche-de-poste-exploitation-de-donnees-place-de-lemploi-public/") données
        
hr

h2 ressources utiles

ul
    li
        a(href="https://doc.incubateur.net/communaute/travailler-a-beta-gouv/recrutement/guide-pour-les-candidat-e-s") Guide pour les candidat(e)s (beta.gouv.fr)