html
    head
        // link(rel="stylesheet" href="/global.css")
        script(src="https://cdn.tailwindcss.com")
    body
        div(class="px-5")
            include header.pug
            div !{ content }